.html {
  height: 100vh;
}
body {
  img {
    object-fit: cover !important;
  }
  font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
  height: 100vh;
  #root {
    height: 100vh;
    #app {
      height: 100%;
    }
  }
}
* {
  padding: 0px;
  margin: 0px;
}

.grid {
  height: 100%;
  padding: 0px !important;
  margin: 0px !important;
  .row {
    padding: 0px !important;
    margin: 0px !important;
    .column {
      padding: 0px !important;
      margin: 0px !important;
    }
  }
}
